/* BUTTON STYLE */
.lop-button {
	position: relative;
	width: 12vmin;
	height: 12vmin;
	padding: 1.2vmin 2.25vmin;
	font-size: 5vmin;
	color: magenta;
	border-radius: 1.5vmin;
	box-sizing: border-box;
	box-shadow:
		inset -1.2vmin 0 1.2vmin rgba(0, 0, 0, 0.15),
		inset 0 -1.2vmin 1.2vmin rgba(0, 0, 0, 0.25),
		0 0 0 0.3vmin rgba(0, 0, 0, 0.75),
		1.5vmin 3vmin 3.75vmin rgba(0, 0, 0, 0.4);
	background: linear-gradient(180deg, #282828, #202020);
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}
/* child of parent in css (nested css) done like this */
.lop-button .lop-button-content {
	position: absolute;
	left: 0.6vmin;
	right: 1vmin;
	top: 0.45vmin;
	bottom: 1vmin;

	/* center elements */
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */

	border-radius: 1.5vmin;
	border-left: 0.15vmin solid #0004;
	border-bottom: 0.15vmin solid #0004;
	border-top: 0.15vmin solid #0009;
	box-shadow:
		-1.5vmin -1.5vmin 1.5vmin rgba(255, 255, 255, 0.25),
		1.5vmin 0.75vmin 1.5vmin rgba(0, 0, 0, 0.15);
	background: linear-gradient(90deg, #232323, #4a4a4a);
}
.lop-button .lop-button-contentQWER {
	/* de-center elements */
	display: flex !important;
	justify-content: flex-start !important; /* horizontal */
	align-items: normal !important; /* vertical */
}
.lop-button-cr {
	position: absolute;
	right: 1vmin;
	bottom: 1vmin;
	font-size: 10vmin !important;
}
.lop-button-wm {
	margin-right: 1vmin !important;
	margin-bottom: 1vmin !important;
	font-size: 9vmin !important;
	font-weight: bold !important;
}

/* INPUT STYLE */
input.lop-input {
	position: absolute;
	width: 54vmin;
	height: 9vmin;

	/* TRICK : center form via left-top and transform */
	left: 50%;
	xtop: 50%; /* define separately for each input */
	transform: translate(-50%, -50%);

	padding: 0 1.5vmin;
	margin-top: 1vmin;
	font-size: 3.5vmin;
	border-radius: 0.5vmin;
	background-color: rgba(255, 255, 255, 0.17);
	display: block;

	color: white;
	outline: none;
	border: none;
}
::placeholder {
	color: silver;
}

/* HR STYLE */
hr.lop-hr {
	width: 100%;
	border: 1px solid grey;
}

/* BACKGROUND-PAGE STYLE */
.background-page {
	position: absolute; /* absolute is necessary */
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 3.5vmin;
	background-color: darkmagenta;
	opacity: 1;
	z-index: 1;
	display: block; /* visibility: hidden; not working because of z-index */
}
.background-page:before {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	background-size: cover;
	background-position: center;
	background-image: url('cover.jpg');
	opacity: 0.5;
	z-index: -1;
}

.background-page-info {
	position: absolute;
	width: 100%;
	left: 0%;
	bottom: 0%;
	text-align: center;
	color: magenta;
}

/* HTML STYLE */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
	xfont-size: 3.5vmin; /* can not be %, % of viewport which one is min (width or height) */
	xcolor: grey; /* font color */
	xbackground-color: black;
	overflow: hidden;
}
* {
	box-sizing: border-box; /* important */
}
.no-select {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}
